<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1044973010936-bmn4ovtekobrd9udv0fauk1604ciil61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044973010936-bmn4ovtekobrd9udv0fauk1604ciil61</string>
	<key>API_KEY</key>
	<string>AIzaSyAVbZigEmL5RgSgaHHOqXKDLHuuAKWnzf0</string>
	<key>GCM_SENDER_ID</key>
	<string>1044973010936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.boilerpoint</string>
	<key>PROJECT_ID</key>
	<string>react-native-boilerplate-c60e7</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-boilerplate-c60e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044973010936:ios:47f5f52f5ea65e049c600d</string>
	<key>DATABASE_URL</key>
	<string>https://react-native-boilerplate-c60e7.firebaseio.com</string>
</dict>
</plist>