<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329872331113-un4ubhb26mis4o3v2ghhq1jd0te00je7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329872331113-un4ubhb26mis4o3v2ghhq1jd0te00je7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>329872331113-f4khbn807io6hevv3avdj1adp3sntkos.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD7Z-o-s046fODBAMuWpotMZgP7QLZ9o_g</string>
	<key>GCM_SENDER_ID</key>
	<string>329872331113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.setup</string>
	<key>PROJECT_ID</key>
	<string>react-native-start-91690</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-start-91690.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329872331113:ios:7346e208ce7c7be3e76df8</string>
	<key>DATABASE_URL</key>
	<string>https://react-native-start-91690.firebaseio.com</string>
</dict>
</plist>